
:host {
    display: block;
    margin: 15px;
    .mat-card {
        background: #42424221;
         color: #443e3e;
         transition:all 0.5s ease; 
         border: 1px dashed #404040a3;         
         .mat-card-title {
        }

         .mat-card-subtitle {
            color: #424242;
            font-family: "Francois One", "Helvetica Neue", sans-serif;
        }
        ::ng-deep{
            .mat-card-header-text {
                margin: 0;
                width: 100%;
                display: flex;
                justify-content: space-between
            }
        }
        mat-card-actions {
            display: flex;
            justify-content: space-between;
            *:not(mat-icon) {
                font-family: "Francois One", "Helvetica Neue", sans-serif;
            }
            button {
                padding: 0px 9px;
                border: 1px dashed;
                min-width: 0;
            }
        }
    }
    .love-it {
        background: #189f2a59;
        color: #187525;
        transition: all 0.5s ease;
    }
    .love-it-button {
        background-color: #18a02a;
        margin-right: 10px!important;
        border: 1px dashed #fff;           
        ::ng-deep {
            .mat-badge-content{
                background-color: #197525;
                color: #fff;
                border: 1px dashed #fff;  
                width: 20px;
                height: 20px;
                line-height: 20px;
                font-size: 11px;         
            }
        }
    }
    .dont-love-it {
        background: #e8281b7a;
        color: #610c07;  
        transition:all 0.5s ease; 
     }
    .dont-love-it-button {
        background: #de291dad;
        color: #ffffff;
        border: 1px dashed #fff;           
        transition: all 0.5s ease;    
        ::ng-deep {
            .mat-badge-content {
                background-color: #bf3f35;
                color: #fff;
                border: 1px dashed #fff;           
            }
        } 
    }
    .delete-button {
        background: #c12519d4;
    }
}

