
<mat-card 
[ngClass]="{'love-it': post.loveIts > post.dontLoveIts, 'dont-love-it':post.loveIts < post.dontLoveIts}">
  <mat-card-header>
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.createdAt | date:'short'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{post.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button 
    mat-raised-button 
    class="love-it-button"
    color="primary" 
    (click)="onLoveIts(post)"
    [matBadge]="getLoveIts()" 
    matBadgePosition="after" 
    matBadgeColor="#065405fa">
    Love it
  </button>
    <button 
    [matBadge]="getDontLoveIts()" 
    matBadgePosition="after" 
    matBadgeColor="primary"
    mat-raised-button 
    color="warn" 
    (click)="onDontLoveIts(post)">
    Don't love it
  </button>
  </mat-card-actions>
</mat-card>
