
:host {
  .form-container {
    display: flex;
    height: calc(100% - 156px);
    justify-content: center;
    align-items: center;
    .post-form{
      width: auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      > * {
        width: 500px
      }
      &_title {
        margin-bottom: 64px;
        h2 {
          margin-bottom: 3px;
          font-weight: 500;
          font-size: 31px;        
          color: #212121cf;
        }
        &_line {
          height: 8px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background: #212121;
          margin-left: 180px;
          margin-right: 180px;        
        }    
      }
      textarea {
        resize: none;
      }
      .textarea-icon {
          position: absolute;
          bottom: 136px;
          right: 0;
      }
    }
  } 
}

::ng-deep{
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #424242
  }
  .mat-input-element {
    color: #000;
  }  
  .mat-raised-button { 
    transition: .5s ease;
    &[disabled][disabled]{
      background-color: #2121214a;
    }
 }
 .mat-form-field-label{
   color: #2121219c
 }
}

::ng-deep .mat-form-field-placeholder{
  color:red;
}

::ng-deep .mat-focused .mat-form-field-placeholder{
  color:red;
}
