<mat-toolbar>
  <div class="left-nav">
    <button 
    title="Post list"
    mat-button 
    routerLinkActive="active"
    routerLink="/posts">
    <mat-icon>notes</mat-icon>
    Posts
    </button>
    <button 
    title="Add new post"
    mat-button
    routerLinkActive="active"
    routerLink="/new">
    <mat-icon>create</mat-icon>
      New post
    </button>  
  </div>
  <div class="right-nav">
    <button 
    title="Logout"
    mat-icon-button>
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</mat-toolbar>

